.container {
  width: 300px;
  height: 400px;
  font-size: 14px !important;
}

.search-box {
  padding-bottom: 12px;
}

.search-input {
  width: calc(100% - 16px);
  border: none;
  height: 30px;
  background-color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 4px;
}

.search-input:focus {
  outline: none;
}

.search-result-box,
.bookmarks-box {
  overflow-y: auto;
  max-height: 450px;
}

.item {
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 4px;
}

.item:focus {
  outline: none;
}

.item-tab {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 16px;
}

.item-tab-line {
  height: 100%;
  width: 0;
  border-left: 1px solid #c1c1c1;
}

.toggle-icon {
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
}

.title {
  flex: 1;
  height: 28px;
  line-height: 28px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover,
.item.focused {
  background-color: #ededed;
}

.expand {
  transform: rotate(0);
}

.favicon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-left: 14px;
  margin-right: 4px;
}

.favicon {
  height: 14px;
  width: 14px;
}

.hidden {
  display: none;
}

.no-data {
  display: flex;
  height: 28px;
  line-height: 28px;
  color: #c1c1c1;
}

.no-data-text {
  flex: 1;
  padding-left: 14px;
}

.search-no-data {
  height: 28px;
  line-height: 28px;
  color: #c1c1c1;
  padding-left: 14px;
}
