body {
  margin: 0;
  padding: 8px 0;
  width: 400px;
  height: 584px;
  font-size: 14px !important;
}

.search-input {
  width: calc(100% - 32px);
  border: none;
  border-bottom: 1px solid #d4e3fc;
  height: 40px;
  background-color: transparent;
  padding: 0 16px;
}

.search-input:focus {
  outline: none;
}

.pin-bar {
  height: 32px;
  line-height: 32px;
}

.header {
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
}

.header > .title {
  font-weight: 600;
}

.search-result-box,
.bookmarks-box {
  overflow-y: auto;
  max-height: 500px;
}

.item {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 10px;
}

.item:focus {
  outline: none;
}

.item-tab {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 16px;
}

.item-tab-line {
  height: 100%;
  width: 0;
  border-left: 1px solid #c1c1c1;
}

.toggle-icon {
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
}

.title {
  flex: 1;
  height: 32px;
  line-height: 32px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover,
.item.focused {
  background-color: #ededed;
}

.expand {
  transform: rotate(0);
}

.favicon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-left: 16px;
  margin-right: 4px;
}

.favicon {
  height: 16px;
  width: 16px;
}

.hidden {
  display: none;
}

.no-data {
  display: flex;
  height: 32px;
  line-height: 32px;
  color: #c1c1c1;
}

.no-data-text {
  flex: 1;
  padding-left: 16px;
}

.search-no-data {
  height: 32px;
  line-height: 32px;
  color: #c1c1c1;
  padding-left: 16px;
}
