/* 自定义滚动条的宽度 */
::-webkit-scrollbar {
  width: 4px;
}

/* 自定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* 自定义滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background: #0f58cb;
}

body {
  margin: 0;
  padding-top: 8px;
  width: 400px;
  max-height: 592px;
  font-size: 14px !important;
}

.search-input {
  width: calc(100% - 32px);
  border: none;
  border-bottom: 1px solid #d4e3fc;
  height: 40px;
  background-color: transparent;
  padding: 0 16px;
}

.search-input:focus {
  outline: none;
}

.pin-bar {
  height: 32px;
  line-height: 32px;
  display: none;
}

.header {
  position: absolute;
  display: flex;
  background-color: #ffffff;
  left: 0;
  right: 4px;
  padding-left: 16px;
  padding-right: 12px;
  height: 32px;
  line-height: 32px;
  z-index: 1;
}

.header > .title {
  font-weight: 600;
}

.search-result-box {
  overflow-y: auto;
  max-height: 454px;
}
.bookmarks-box {
  padding-top: 32px;
  overflow-y: auto;
  max-height: 454px;
}

.item {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 10px;
}

.item:focus {
  outline: none;
}

.item-tab {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 24px;
  margin-right: 4px;
}

.item-tab-line {
  height: 100%;
  width: 1px;
  background-color: #d8d8d8;
}

.toggle-icon {
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 4px;
}

.title {
  flex: 1;
  height: 32px;
  line-height: 32px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover,
.item.focused {
  background-color: #ededed;
}

.expand {
  transform: rotate(90deg);
}

.favicon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-right: 4px;
}

.favicon {
  height: 16px;
  width: 16px;
}

.hidden {
  display: none;
}

.no-data {
  display: flex;
  height: 32px;
  line-height: 32px;
  color: #c1c1c1;
  padding: 0 10px;
}

.no-data-text {
  flex: 1;
}

.search-no-data {
  height: 32px;
  line-height: 32px;
  color: #c1c1c1;
  padding-left: 16px;
}

.footer {
  height: 32px;
  line-height: 32px;
  border-top: 1px solid #d4e3fc;
}
